<nav id="mobile-nav">
        <% for (var i in site.data.nav.nav){ %>
                <a href="<%- site.data.nav.nav[i].url %>"
                   class="mobile-nav-link"><%= __('nav.' + site.data.nav.nav[i].link).replace("nav.", "") %></a>
    <% } %>
</nav>