<% if (config.url == "https://kakise.me") { %>
    <section id="search">
        <form>
            <script>
                (function () {
                    var cx = 'partner-pub-1368620516057306:3601805374';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
            </script>
            <gcse:searchbox-only></gcse:searchbox-only>
        </form>
        <div id="search-result">
            <script>
                (function () {
                    var cx = 'partner-pub-1368620516057306:3601805374';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
            </script>
            <gcse:searchresults-only></gcse:searchresults-only>
        </div>
        <h3>Populaire sur le web:</h3>
        <div id="search-result">
            <script type="text/javascript" src="https://www.google.com/cse/query_renderer.js"></script>
            <div id="queries"></div>
            <script src="https://www.google.com/cse/api/partner-pub-1368620516057306/cse/3601805374/queries/js?oe=UTF-8&amp;callback=(new+PopularQueryRenderer(document.getElementById(%22queries%22))).render"></script>
        </div>
    </section>
<% } else { %>
    <section id="search">
        <form>
            <input type="text" class="search-input" id="search-input" placeholder="<%= __('search.search') %>">
        </form>
        <div id="search-result"></div>
        <p class="search-no-result"><%= __('search.no_results') %></p>
    </section>
<% } %>