---
layout: false
---
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin Space</title>
  <!-- Include the stylesheets from your site here -->
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/lib/font-awesome/css/fontawesome-all.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/netlify-cms@^1.0.0/dist/cms.css" />
</head>
<body>
  <script src="https://unpkg.com/netlify-cms@^1.0.0/dist/cms.js"></script>
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js">
  <script type="text/babel">
    const PostPreview = createClass({
      render() {
        return (
          <div>
            <h1 className="posttitle" itemprop="name headline">{this.props.entry.getIn(['data', 'title'])}</h1>
            <div className="meta">
              <div className="postdate">
                <time itemprop="datePublished">{this.props.entry.getIn(['data', 'date'])}</time>
              </div>
              <div className="article-tag">
                <i className="fas fa-tag"></i>
                {this.props.widgetsFor('tags').map(function(tag, index) {
                return(
          			  <a className="tag-link">{tag.getIn(['data', 'tags'])}</a>
        		    );
      			})}
              </div>
            </div>
            <div className="content">{this.props.widgetFor('body')}</div>
          </div>
        );
      }
    });
  CMS.registerPreviewTemplate("posts", PostPreview);
  CMS.registerPreviewStyle('/css/style.css');
  </script>
</body>
</html>
