@font-face
  font-style: normal
  font-family: "Meslo LG"
  font-display: swap
  src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")

@font-face
  font-family: "futura-pt"
  src: url("../lib/futura-pt/futura-pt.woff2") format("woff2"), url("../lib/futura-pt/futura-pt.woff") format("woff"), url("../lib/futura-pt/futura-pt.otf") format("opentype")
  font-style: normal
  font-weight: 400
  font-display: swap

@font-face
  font-family: "carlmarx"
  src: url("../lib/carlmarx/carlmarx.woff2") format("woff2"), url("../lib/carlmarx/carlmarx.woff") format("woff"), url("../lib/carlmarx/carlmarx.otf") format("opentype")
  font-style: normal
  font-weight: 700
  font-display: swap
